html {
  font-size: 1em;
}

body {
  background-color: #ffdad5;
  background-image: radial-gradient(#faffd5, #ffefd5, #ffdad5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin:20px;
}

.left-hand-side {
display: flex;
flex-direction: column;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 5.5em;
  color: #a2ffdc ;
  text-shadow: 2px 2px #141414;
  width:max-content;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color:  darkgray;
  text-shadow: 2px 2px #141414;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height:70px;
  width:70px;
  border: none;
  cursor: pointer;
}

#color::-webkit-color-swatch {
  border-radius: 50%;
}

.fa-solid {
  padding:20px;
  margin:1px;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid whitesmoke;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  align-self: center;
}
  
.grid-element {
  background-color: white;
  border: 1px dotted #d9d9d9;
}

footer {
  margin-top: 50px;
  padding-top:2px;
  width:100%;
  text-align: center;
}

a {
  text-decoration: none;
}

/* MOBILE STYLES */

@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: row;
  }
}